{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <!--test paragraph-->
    <form action="/sell" method="post">
        <div class="form-group">
            <select name="symbol" >
                  {%for stock in stocks%}
                 <option value ={{stock}}>{{stock}}</option>
                 {%endfor%}
            </select>
        </div>
        <div class="form-group">
            <input class="form-control" autocomplete="off" name="shares" placeholder="Number of shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">sell</button>
    </form>
{% endblock %}